APP_MODE=demo
APP_ENV=production
APP_URL=https://delegacje.example.pl

DB_HOST=localhost
DB_PORT=3306
DB_NAME=delegacje
DB_USER=delegacje_user
DB_PASSWORD=

DB_USERS_TABLE=users
DB_DELEGATIONS_TABLE=delegations
DB_VEHICLES_TABLE=vehicles
DB_USER_ID_COLUMN=id
DB_USER_NAME_COLUMN=name
DB_DELEGATION_ID_COLUMN=id
DB_DELEGATION_USER_ID_COLUMN=user_id
DB_DELEGATION_DESTINATION_COLUMN=destination
DB_DELEGATION_PURPOSE_COLUMN=purpose
DB_DELEGATION_DATE_FROM_COLUMN=date_from
DB_DELEGATION_DATE_TO_COLUMN=date_to
DB_DELEGATION_STATUS_COLUMN=status

SESSION_SECURE=true
